<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block menu %}
    <div>
        <a href="{{ path('site.homepage') }}">Homepage</a>
        <a href="{{ path('listeCatgory') }}">Categories</a>
        <a href="{{ path('contact') }}">Contact</a>


    </div>
    {% endblock %}


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
