{% extends "base.html.twig" %}


{% block body %}

   <div>
    <ul>
    {% for category in category %}
        <li><a href="{{ path('CategoriDetail',{"id": category.id}) }}">{{ category.name| lower | capitalize }}</a>
    {% endfor %}
    </ul>
   </div>

{% endblock %}