{% extends "base.html.twig" %}

{% block title %}

    {% endblock %}
{% block body %}

    <div>
        <ul>
            {% for Posts in posts %}

            {% endfor %}
        </ul>
    </div>

{% endblock %}