{% extends 'base.html.twig' %}

    {% block title %}
        Title Page
    {% endblock %}
    {% block body %}


      <div>
          <ul>
              {% for post in posts %}
                  {% include "@Site/Elements/posts-list.html.twig"%}
              <!-- <li><a href="{{ path('page',{"id": post.id}) }}">{{ post.title| lower | capitalize }}</a>     </li>-->
             {% endfor %}
          </ul>
      </div>


    {% endblock %}



