{% extends 'base.html.twig' %}


{% block title %}
    titre de la news
{% endblock %}



{% block body %}
    <h2> {{ post.title}} <small> {{ post.date|date('d-m-Y H:i:s') }}</small></h2>
    <header>{{ post.header }}</header>
    <div> {{ post.content }}</div>

    <br>

    <div> source: <a href="{{ post.sourceUrl }}">{{ post.sourceName }}</a></div>

{% endblock %}




