{% extends "::base.html.twig" %}


{% block body %}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url({{ asset("img/home-bg.jpg") }})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <hr class="small">
                    <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            {% for post in posts %}
            <div class="post-preview">
                <a href="{{ path('post', {"id" : post.id}) }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.header }}
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="{{ post.authorUrl}}">{{ post.author }}</a> on September 24, 2014</p>
            </div>
                <hr>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}