
{% form_theme form 'bootstrap_3_layout.html.twig' %}



{% extends "::base.html.twig" %}


{% block body %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({{ asset('img/post-bg.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.header }}</h2>
                        <span class="meta">Posted by <a href="{{ post.authorUrl}}">{{ post.author}}</a> on {{ post.date|date("F d, Y") }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {{ post.content|nl2br}}

                    <hr />

                    <h4>Laissez un commentaire</h4>


                    {#  FORMULAIRE #}

                    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                    <hr />

                    <h4>Commentaires</h4>
                    {% for comment in post.comments %}
                        <div>
                            <strong> {{ comment.name }}</strong> <br />
                            <em>{{ comment.message }}</em>
                            <br />
                            <small style="font-size:11px">posted {{ comment.date|date("d-m-Y h:i:s") }}</small>
                        </div>
                        <hr />
                    {% endfor %}

                </div>
            </div>
        </div>
    </article>
{% endblock %}